[general]
socketTimeout = 10
phpCommand = "php"
;leave tmpFolder empty to use default php folder
tmpFolder = ""
specialChar = "&"
; set the backend: influxdb, elasticsearch
databaseType = "influxdb"
forecastDatasourceName = "nagflux_forecast"
; disable the Panel Titel globally
disablePanelTitle = false

[folder]
defaultTemplateFolder = "templates/default/"
customTemplateFolder = "templates/custom/"
forecastTemplateFolder = "forecasts/"

[influxdb]
url = "http://127.0.0.1:8086/query?db=nagflux"
hostcheckAlias = "hostcheck"

[elasticsearch]
url = "http://127.0.0.1:8086/nagflux"
hostcheckAlias = "hostcheck"